{{!< default}}

<p>The website was a quick project I put together to enable exporting a timetable from the University of Huddersfield's PortalPlus website. It scrapes the timetable page provided by the University to build a list of practicals and lectures and export them to calendar. The calendar can be subscribed to using your favourite calendar application, which will support any changes to your timetable, or can be manually exported and added.</p>