{{!< default}}

<h3>I've found a bug, where can I submit it?</h3>
<p>Bugs can be filed using the <a href="https://github.com/JosephDuffy/Timetable-Parser/issues">GitHub issues tracker</a>.</p>

<h3>I have a feature request, where can I submit it?</h3>
<p>Feature requests can be filed using the <a href="https://github.com/JosephDuffy/Timetable-Parser/issues">GitHub issues tracker</a>.</p>

<h3>Can anyone view my timetable?</h3>
<p>The website gets timetable information through a publicly-accessible website - the same website that is used to view your timetable. Due to this anyone that knows your student number can view your timetable. This website simply automates the process and provides a calendar feed</p>

<h3>Should I download the calendar or subscribe via the URL?</h3>
<p>It is recommended that you subscribe via the URL to ensure that any changes to your timetable are pushed to your calendar application of choice</p>

<h3 id="how-to-add-to-calendar">How do I add the calendar to my favourite calendar app?</h3>
<p>Instructions vary between which application you use. Below are a variety of links for different calendar applications:</p>
<ul>
	<li><a href="https://support.apple.com/kb/PH11523?locale=en_GB" title="How to subscribe to your calendar using Calendar for Mac">Calendar (Mac)</a></li>
	<li><a href="https://flexibits.com/fantastical/videos#managing-calendars" title="How to subscribe to your calendar using Fantastical for Mac">Fantastical (Mac)</a></li>
	<li><a href="https://kb.wisc.edu/page.php?id=53347#subscribe" title="How to subscribe to your calendar using Outlok 2016/Office 265 for Windows">Outlook 2016/Office 365 (Windows)</a></li>
	<li><a href="https://support.office.com/en-gb/article/View-and-subscribe-to-Internet-Calendars-f6248506-e144-4508-b658-c838b6067597" title="How to subscribe to your calendar using Outlok 2007 for Windows">Outlook 2007 (Windows)</a></li>
</ul>