{{!< default}}

<form action="/timetable">
	<div class="form-group">
		<label for="studentId">Student Number</label>
		<input type="text" class="form-control" name="studentId" required>
		<span class="help-block">Input your full student number, without the the "u". e.g., "1259589"</span>
	</div>

	<button type="submit" class="btn btn-primary">Load timetable</button>
</form>