{{!< default}}

<p>Timetable parser is a tool to enable viewing your University of Huddersfield timetable in your favourite calendar application. It also has options for providing reminders for upcoming events, such as being alerted 30 minutes before a lecture or practical.</p>

<form action="/timetable">
	<p>Input your student number below to load your timetable.</p>

	<div class="form-group">
		<label for="studentId">Student Number</label>
		<input type="text" class="form-control" name="studentId" placeholder="u1259589" required>
	</div>

	<button type="submit" class="btn btn-primary">Load timetable</button>
</form>