{{!< default}}

<noscript>
    <p>Your browser does not have JavaScript enabled. While this site does not rely on JavaScript, it does provide an enhanced experience.</p>
    <p>With JavaScript enabled this page will provide status updates on the parsing of your timetable and will redirect when it has been parsed. You will have to <a href="/timetable/{{studentId}}">manually refresh this page</a>, which will redirect to the final timetable when it fully processed.
</noscript>

<div id="timetable-messages">

</div>

<input type="hidden" id="timetable-id" value="{{studentId}}" />
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
    var timetableId = document.getElementById('timetable-id').value;
    var timetableMessagesDiv = document.getElementById('timetable-messages');

    function connectToServer() {
        socket.on('addMessage', function(message) {
            var div = document.createElement('DIV');
            div.innerHTML = message;
            timetableMessagesDiv.appendChild(div);
        });

        socket.on('error', function(error) {
			console.error(error);
        });

        socket.on('finish', function(url) {
            document.location = url;
        });

        socket.on('disconnect', function() {
            setTimeout(5000, connectToServer);
        });

        socket.emit('studentId', timetableId);
    };

    connectToServer();
</script>